.main{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 10px;
}

.row_gaps{
    margin-top: 15px;
}

.image{
    margin-left: 40%;
}

.btnSubmit{
    text-align: center;
}

