#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-display: block;
  font-family: 'nova-icons';

  font-weight: normal;
  font-style: normal;
  src: url('@eliagroup-innersource/nova-core/dist/assets/fonts/nova-icons.woff2') format('woff2');
  descent-override: 15%;
}@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 400;
  src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-normal.woff2") format("woff2");
  font-display: swap;
  ascent-override: 110%;
}@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 500;
  src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-medium.woff2") format("woff2");
  font-display: swap;
  ascent-override: 110%;
}@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 700;
  src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-bold.woff2") format("woff2");
  font-display: swap;
  ascent-override: 110%;
}